$primary-bgcolor-1: #002333;
$primary-bgcolor-2: #fca311;
$primary-font: 'Mulish', sans-serif;
$secondary-font-1: 'Barlow Condensed', sans-serif;
$secondary-font-2: 'Spectral', sans-serif;
$secondary-font-3: 'Old Standard TT', sans-serif;
$color-white: #ffff;
$primary-text-color: #002333;
$dark-gray: #e4e4e4;
